html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fira Sans', sans-serif;
}
#preloder{
    width: 100%;
    height: 100vh;
    background: #ffff url(images/preloder.gif) center center no-repeat;
    z-index: 100;
    position: fixed;
}


/* ==== Header area ==== */
#header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),#009688),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
    position: absolute;
    width: 140px;
    top: 4%;
    left: 10%;
}
.banner-text{
    text-align: center;
    padding-top: 180px;
    color: white;
}
.banner-text h1{
    font-size: 130px;
    font-family: 'Kaushan Script', cursive;
}
.banner-text p{
    font-size: 20px;
    text-transform: capitalize;
    font-style: italic;
}
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    color: white;
    border: .5px solid white;
    padding: 10px 20px;
    margin: 0 10px;
    position: relative;
    transition: color 0.5s;
    z-index: 1;
}
.banner-btn a::after{
    content: "";
    position: absolute;
    width:0;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: -1;
}
.banner-btn a:hover::after{
    width: 100%;
}
.banner-btn a:hover{
    color: black;
}
/* =======Side Nav===== */
#sideNav{
    position: fixed;
    height: 100vh;
    width: 250px;
    background-color: #009688;
    top: 0;
    right: -250px;
    transition: 0.5s;
    z-index: 3;
}
nav ul li{
    list-style: none;
    margin: 50px 30px;

}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#menuBtn{
    width: 45px;
    height: 45px;
    text-align: center;
    background-color: #009688;
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 3;
    cursor: pointer;
    border-radius: 3px;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}


/* ====== Feature ===== */
#feature{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    display: inline-block;
    z-index: 1;
}
.title-text p::after{
    content: "";
    position: absolute;
    height: 35px;
    width: 50px;
    background: linear-gradient(#019587,#fff);
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1{
    font-size: 40px;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.feature{
    flex-basis: 50%;
}
.feature-img{
    flex-basis: 50%;
    margin: auto;
}
.feature-img img{
    width: 70%;
    border-radius: 10px;
}
.feature h1{
    color: #009688;
    font-weight: 200;
    text-align: left;
    margin-bottom: 10px;
}
.feature-desc{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.feature-icon i{
    height: 50px;
    width: 50px;
    color: #009688;
    font-size: 30px;
    border: 1px solid #009688;
    line-height: 50px;
    border-radius: 10px;
}
.feature-text p{
    padding: 0 20px;
    text-align: initial;
}
/* Services Section */
#service{
    width: 100%;
    background: lightgray;
    padding:70px 0;
}
.service-box{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
}
.single-service{
    flex-basis: 48%;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 7px;
    color: white;
    position: relative;

}
.single-service img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(0,0,0,0.5),#009688);
    top: 0;
    opacity: 0;
    transition: 1s;
}
.single-service:hover .overlay{
    opacity: 1;
}
.service-desc{
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom:0;
    opacity: 0;
    transition: 1s;
}
.service-desc h3{
    font-size: 30px;
}
hr{
    width: 60%;
    margin: 15px auto;
    height: 2px;
}
.single-service:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}
/* ===== Testimonial ===== */
#testimonial{
    width: 100%;
    padding: 100px 0;

}
.testi-row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.testi-col{
    flex-basis: 28%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 30px;
    transition: transform 1s;
}
.testi-col p{
    font-size: 14px;
    text-align: justify;
    cursor: pointer;
}
.user{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user-info{
    margin-left: 20px;
    text-align: left;
}
.user-info small {
    color: #009688;
    padding-right: 10px;
    cursor: pointer;
}
.user-info i{
    color:rgb(8, 122, 167);
}
.testi-col:hover{
    transform: translateY(-10px);
}

/* ===== Footer ==== */
#footer{
    padding: 100px 0 20px;
    background-color: rgb(235, 232, 232);
    position: relative;
}
.footer-row{
    width: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:auto;
}
.footer-left ,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-row h1{
   padding: 10px 0;
}
.footer-row p{
    line-height: 35px;
}
.footer-row i{
    color: #009688;
    font-size: 20px;
    margin: 10px;
}
.footer-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50% , -50%);
}
.social-icon{
    text-align: center;
    margin-bottom: 10px;
}
.social-icon i{
    height: 40px;
    width: 40px;
    border: 1px solid #009688;
    line-height: 40px;
    color: #009688;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition:.5s;
}
.social-icon i:hover{
    background-color: #009688;
    color: white;
    transform: translateY(-5px);
}
.footer-text{
    text-align: center;
    padding: 10px 0;
    font-weight: 500;
}